# Data files (except processed JSON y archivo Copec raw)
data/*.xlsx
data/*.xls
data/*.csv
!data/COPEC_CE.XLS
data/latest_file.txt
data/error_screenshot.png

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
